<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal de Eventos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dados-cursos/dadosCursos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="css/navegacao-principacao.css">
</head>
<body>
<!-- Inicio da barra de menu !-->
<nav class="navbar navbar-expand-lg navbar-light" id="navegacao">
    <a href="" class="navbar-brand" id="porta-eventos">Portal de Eventos</a>
</nav>
<main>
    <section id="dados-curso" class="mt-0">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Curso:</h4>
                            <p id="nome-do-curso">Nome Do curso</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline">
                <div class="container">
                    <div class="row mt-4">
                        <!-- Inicio do curso !-->
                        <div class="col-4">
                            <div class="col-1 text-center">
                                <i class="far fa-calendar-check fa-2x"></i>
                            </div>
                            <div class="col">
                                <p><small>Data inscrição:</small> 12/05/2019 a 31/05/2019</p>
                            </div>
                        </div>
                        <!-- Carga horariaa !-->
                        <div class="col-4">
                            <!-- Cargo horaria !-->
                            <div class="col-1">
                                <i class="fas fa-history fa-2x"></i>
                            </div>
                            <div class="col">
                                <p><small>Carga Horaria:</small> 60 horas</p>
                            </div>
                        </div>
                        <!-- Btn iniciar curso !-->
                        <div class="col-4">
                            <!-- Entrar no curso !-->
                            <div class="col-1 mt-2">
                                <button type="button" class="btn btn-primary"><i class="fas fa-play"></i> Começar o curso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section id="ementa-curso">
        <div class="container mt-5">
            <div class="row">
                <div class="col col-5">
                    <h4>O que vai ter no curso ?</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aula - 1</li>
                        <li class="list-group-item">Aula - 2</li>
                        <li class="list-group-item">Aula - 3</li>
                        <li class="list-group-item">Aula - 4</li>
                        <li class="list-group-item">Aula - 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="js/js/jquery-3.4.0.js"></script>
<script src="js/js/bootstrap.bundle.js"></script>
<script src="js/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="api/dados_curso.js"></script>
</body>
</html>
