{% extends "base.html" %}

{% block main %}
    <div class="container">
        <section id="titulos" class="mt-5">
            <h6>Bem vindo ao Portal de Eventos, Cursos e Serviços </h6>
            <p><em>Faça sua inscrição nos eventos e cursos ou solicite os serviços oferecidos pela Fundação.</em></p>
            <hr>
        </section>
        <section id="eventos-cursos-servivos" class="mt-5">
            <li class="list-group-item disabled p-3 mb-2 bg-primary text-white" aria-disabled="true"><h5>Listas de Eventos, Cursos e Serviços</h5></li>
                <div class="">
                    <ul class="list-group">
                        {% for evento in eventos_data %}
                            {% if evento.situacao == "Em oferta" %}
                                <li class="list-group-item mb-2">
                                    <div class="row">
                                        <div class="col col-xl-1 col-md-1"><a href="{% url 'eventos_dados' evento.codEvento %}"><i class="fa fa-sign-in-alt fa-lg"></i></a></div>

                                        <div class="col col-xl-7 col-md-7">{{ evento.nomeEvento }}</div>
                                        {% if evento.numeroVagas %}
                                            <div class="col col-xl-2 col-md-2"><span class="badge badge-success">Numeros de vagas: {{ evento.numeroVagas }}</span></div>
                                        {% else %}
                                            <div class="col col-xl-2 col-md-2"><span class="badge badge-warning">Numero de vagas não informadas</span></div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                     </ul>
                </div>
        </section>
    </div>
{% endblock %}