{% extends "base.html" %}

{% block main %}
    <div class="container">
        <section id="titulos" class="mt-5">
            <h6>Bem vindo ao Portal de Eventos, Cursos e Serviços </h6>
            <p><em>Faça sua inscrição nos eventos e cursos ou solicite os serviços oferecidos pela Fundação.</em></p>
            <hr>
            <h5>Listas de Eventos, Cursos e Serviços</h5>
        </section>
        <section id="eventos-cursos-servivos" class="mt-5">
            <nav>
                <!-- Conteudo do tab !-->
                <div class="tab-content mt-5" id="myTabContent">
                    <!-- conteudo dentro de tab de curso !-->
                    <div class="tab-pane fade show active" id="nav-cursos" role="tabpanel" aria-labelledby="nav-cursos-tab">
                        <!-- Primeiro grupo de cursos !-->

                        <div class="card mt-3"><div class="card-header">Área: Instituto de Ciências Humanas e Sociais</div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nomes dos Cursos em Ofertas</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Numero de vagas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for evento in eventos_data %}
                                        <tr>
                                            {% if evento.Situacao == "Em oferta" %}
                                                <th scope="row">
                                                    <a href="{% url 'eventos_dados' evento.CodEvento%}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </th>
                                                <td scope="row">{{ evento.NomeEvento }}</td>
                                                <td scope="row">{{ evento.Situacao }}</td>
                                                {% if evento.NumeroVagas > 0 %}
                                                    <td scope="row">{{ evento.NumeroVagas }}</td>
                                                {% else %}
                                                    <td scope="row">Não informado</td>
                                                {% endif %}
                                            {% endif %}
                                       </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </div>
{% endblock %}