<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal de Eventos</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/tab-navegacao/navegacao.css">!-->
</head>
<body>
<!-- Inicio da barra de menu !-->
<nav class="navbar navbar-expand-lg navbar-light" id="navegacao">
    <a href="index.html" class="navbar-brand" id="porta-eventos">Portal de Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<main>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h4>Cadastro para o Portal de Eventos</h4>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="exampleInputNome">Nome</label>
                        <input type="email" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp" placeholder="Nome Completo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSenha">Senha</label>
                        <input type="password" class="form-control" id="exampleInputSenha" placeholder="Senha">
                        <small class="form-text text-muted">Crie a senha utilizando letra maiuscula, minuscula, numero e caracteres especias, com no minino 8 digitos</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmailRepetir">Repetir senha</label>
                        <input type="password" class="form-control" id="exampleInputEmailRepetir" placeholder="Repitir a senha">
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="js/js/jquery-3.4.0.js"></script>
<script src="js/js/bootstrap.bundle.js"></script>
<script src="js/js/bootstrap.min.js"></script>
</body>
</html>