{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard do Portal de Eventos</title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icons8-evento-aceito-48.png' %}">
</head>


<body>
    <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                {% for usuario in usuario_data %}
                    <a href="{% url 'dashboard' usuario.registro %}">Area do Aluno</a>
                {% endfor %}<div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <!--  Foto com o nome do usuario!-->
                {% for usuario in usuario_data %}
                <div class="user-info">
                    <span class="user-name"><strong>Usuario</strong></span>
                    <span class="user-role text-white" id="nomeDoAluno">{{ usuario.Nome }}</span>
                </div>
                {% endfor %}
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Curso, Serviços e Eventos </span>
                    </li>

                    <li class="">
                        {% for usuario in usuario_data %}
                        <a href="{% url 'listar_cursos_ofertas_dash' usuario.registro %}">
                            <i id="icone-curso" class="fas fa-ticket-alt"></i>
                            <span>Eventos em ofertas </span></a>
                        {%  endfor %}
                    </li>

                    <li class="">
                        {% for usuario in usuario_data %}
                        <a href="{% url 'dashboard' usuario.registro %}">
                            <i id="icone-curso" class="fas fa-clipboard-check"></i>
                            <span>Eventos atuais </span></a>
                        {%  endfor %}
                    </li>

                    <li class="">
                        {% for usuario in usuario_data %}
                        <a href="{% url 'eventos_cursos' usuario.registro %}">
                            <i id="icone-curso" class="fas fa-history"></i>
                            <span>Histório de inscrições</span></a>
                        {%  endfor %}
                    </li>

                    <li class="header-menu"><span>Dados Pessoais</span></li>
                    <li>
                        {% for usuario in usuario_data %}
                        <a href="{% url 'dados_usuario' usuario.registro %}">
                            <i class="far fa-address-card"></i>
                            <span>Dados Pessoais</span>
                        </a>
                        {% endfor %}
                    </li>

                    <li class="header-menu"><span>Sistema</span></li>
                    <li>
                        <a href="{% url 'listar_eventos' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Sair</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
    </nav>
{%  block body %}
{% endblock %}

        {% block scritpsJS  %}
            <script src="{% static 'js/js/jquery-3.4.0.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="{% static 'js/js/dash.js' %}"></script>
            <script src="{% static 'js/usuario/dados-usuarios.js' %}"></script>
            <script src="{% static 'js/js/modal-financeiro.js' %}"></script>
        {% endblock %}
    </div>
</body>
</html>
