{% extends 'base_dash.html' %}
{% block body %}
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2>Dados Pessoais</h2>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div id="alert">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% for usuario in usuario_data %}
            <form action="{% url 'salvar_dados' usuario.registro %}" class="form_login" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputNome">Nome Complemento</label>
                        <input type="text" class="form-control" id="inputNome" name="nome_completo" placeholder="Nome completo" value="{{ usuario.Nome }}">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputCracha">Nome Cracha</label>
                        <input type="text" class="form-control" id="inputCracha" placeholder="Nome cracha" name="cracha" value="{{ usuario.Cracha }}">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputCPF">CPF</label>
                        <input type="text" class="form-control" id="inputCPF" placeholder="CPF" name="cpf" value="{{ usuario.Documento }}">
                        <small id="inputCPF" class="form-text text-muted">Somente numeros</small>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" value="{{ usuario.Email }}">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputPass">Senha</label>
                        <input type="password" class="form-control" id="inputPass" placeholder="Senha" name="senha" value="{{ usuario.Senha }}">
                    </div>

                    {% if evento.Sexo == 'M' %}
                        <div class="form-group col-md-4">
                            <label for="inputGenero">Genero</label>
                            <select name="inputGenero" class="form-control">
                                <option>Escolha seu gênero</option>
                                <option selected>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>
                    {% else %}
                        <div class="form-group col-md-4">
                            <label for="inputGenero">Genero</label>
                            <select name="inputGenero" class="form-control">
                                <option>Escolha seu gênero</option>
                                <option>Masculino</option>
                                <option selected>Feminino</option>
                            </select>
                        </div>
                    {% endif %}
                </div>

                <h2>Endereço</h2>
                <hr>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputCEP">CEP</label>
                        <input type="text" class="form-control" id="inputCEP" placeholder="CEP" name="cep" value="{{ usuario.CEP }}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputLogradouro">Logradouro</label>
                        <input type="text" class="form-control" id="inputLogradouro" placeholder="Logradouro" name="enderenco" value="{{ usuario.Endereco }}">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputBairro">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro" name="bairro" value="{{ usuario.Bairro }}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCidade">Cidade</label>
                        <input type="text" class="form-control" id="inputCidade" name="cidade" value="{{ usuario.Cidade }}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Estados</label>
                        <select id="inputState" class="form-control">
                            <option selected value="default" name="estado">{{ usuario.Estado }}</option>
{#                            <option value="estado1">...</option>#}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPais">País</label>
                        <input type="text" class="form-control" id="inputPais" name="pais" value="{{ usuario.Pais }}">
                    </div>
                </div>
                <hr>

                <a href="{% url 'dashboard' usuario.registro %}" class="btn btn-secondary">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar alterações</button>

                {% endfor %}
            </form>
        </div>
    </main>
{% endblock %}
