{% extends 'base_dash.html' %}
{% block body %}
<main class="page-content">
    <div class="container">
        <div class="list-group-item disabled p-3 mb-2 bg-primary text-white" aria-disabled="true">
            <h5>Eventos</h5>
        </div>
        <hr>
        {% for evento in evento_data %}
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item mb-2">
                        <div class="row">
                            <div class="col col-xl-5 col-md-5">{{ evento.nomeEvento }}</div>
                            <div class="col col-xl-5 col-md-5">{{ evento.nomeCategoria_inscricao }}</div>
                            <div class="col col-xl-2 col-md-2">
                                {% for usuario in usuario_data %}
                                    <a href="{% url 'listar_documento_financeiro' usuario.registro evento.codEventoInscricao %}"
                                       class="nav-link" id="documento_financeiro">
                                        <i class="fas fa-file-invoice-dollar fa-lg text-primary"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}