{% extends 'base_dash.html' %}
{% load humanize %}
{% block body %}
    <main class="page-content">

        <div class="row">
            <div class="col">
                <h3>Documentos Financeiros</h3>
                <hr>
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Parcela</th>
                    <th scope="col">TipoDocumento</th>
                    <th scope="col">Data Pagamento</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Valor Pago</th>
                    <th scope="col">Tipo Pagamento</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for documento in documentos_financieros %}
                <tr>
                    <th scope="row">{{ documento.Parcela }}</th>

                    <td>{{ documento.TipoDocumento }}</td>
                    {% if documento.DataPagamento is None %}
                        <td> /  / </td>
                     {% else %}
                        <td> {{ documento.DataPagamento }}</td>
                    {% endif %}

                    <td>R$ {{ documento.Valor |intcomma }}</td>

                    {% if documento.ValorPago is None %}
                        <td> R$ </td>
                     {% else %}
                        <td> R$ {{ documento.ValorPago|intcomma }}</td>
                    {% endif %}

                    <td>{{ documento.NomeTipoPagamento }}</td>
                    <td>{{ documento.NomeStatus }}</td>
                 <tr>
                {% endfor %}
                </tbody>
             </table>
            </div>
        </div>
    </main>
{% endblock %}