{% extends 'base_dash.html' %}
{% block body %}
    <main class="page-content">
        <div class="container">
            <div class="list-group-item disabled p-3 mb-2 bg-primary text-white" aria-disabled="true">
                <h5>Históricos de Inscrições</h5>
            </div>
             {% for evento in evento_data %}
                 <div>
                     <ul class="list-group">
                         <li class="list-group-item mb-2">
                             <div class="row">
                                 <div class="col col-xl-5 col-md-5"><strong>{{ evento.nomeEvento }}</strong></div>
                                 <div class="col col-xl-3 col-md-5"><strong>{{ evento.nomeCategoria_inscricao }}</strong></div>
                                 {% if evento.nomeStatus == "Cancelado" %}
                                    <div class="col col-xl-2 col-md-2 text-danger">{{ evento.nomeStatus }}</div>
                                {% endif %}
                                {% if evento.nomeStatus == "Inscrito" %}
                                    <div class="col col-xl-2 col-md-2 text-success">{{ evento.nomeStatus }}</div>
                                {% endif %}

                                <div class="col col-xl-2 col-md-2">
                                    {% for usuario in usuario_data %}
                                        {% if evento.nomeStatus == "Inscrito" %}
                                            <a href="{% url 'listar_documento_financeiro' usuario.registro evento.CodEventoInscricao %}" class="nav-link">
                                                <i class="fas fa-file-invoice-dollar fa-lg text-primary"></i>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                             </div>
                         </li>
                     </ul>
                 </div>
             {% endfor %}
        </div>
    </main>
{% endblock %}