{% extends 'base_dash.html' %}
{% block body %}
    <main class="page-content">
        {% for evento in evento_data %}
        <div class="col">
            <div class="card">
                <div class="card text-center">
                    <div class="card-header"><strong>{{ evento.nomeCategoria_inscricao }}</strong></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ evento.nomeEvento }}</h5>
                        <p class="card-text">Qualquer coisa</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-file-invoice-dollar"></i> Documentos Financeiros</a>
                    </div>
                    {% if evento.nomeStatus == "Cancelado" %}
                        <div class="card-footer text-warning"><strong>{{ evento.nomeStatus }}</strong></div>
                    {% endif %}
                    {% if evento.nomeStatus == "Inscrito" %}
                        <div class="card-footer text-success"><strong>{{ evento.nomeStatus }}</strong></div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </main>
{% endblock %}