{% extends 'base_dash.html' %}
{% block body %}

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Area do Aluno</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <!--  Foto com o nome do usuario!-->
                <div class="user-info">
                    <span class="user-name"><strong>Usuario</strong></span>
                    <span class="user-role" id="nomeDoAluno">Aluno</span>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Curso, Serviços e Eventos </span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#"><i id="icone-curso" class="fas fa-chalkboard-teacher"></i><span>Cursos</span></a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Curso 1</a>
                                </li>
                                <li>
                                    <a href="#">Curso 2</a>
                                </li>
                                <li>
                                    <a href="#">Curso 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-calendar-check"></i>
                            <span>Eventos</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Eventos 1</a>
                                </li>
                                <li>
                                    <a href="#">Eventos 2</a>
                                </li>
                                <li>
                                    <a href="#">Eventos 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-cogs"></i>
                            <span>Serviços</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Serviços 1</a>
                                </li>
                                <li>
                                    <a href="#">Serviços 2</a>
                                </li>
                                <li>
                                    <a href="#">Serviços 3</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="header-menu"><span>Dados Pessoais</span></li>
                    <li>
                        <a href="dados-pessoais.html">
                            <i class="fa fa-book"></i>
                            <span>Dados Pessoais</span>
                        </a>
                    </li>

                    <li class="header-menu"><span>Sistema</span></li>
                    <li>
                        <a href="#">
                            <i class="far fa-bell"></i>
                            <span>Notificação</span>
                        </a>
                    </li>
                    <li>
                        <a href="../eventos/index.html">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Sair</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">


    </main>
    <!-- page-content" -->
</div>
{% endblock %}
